<!DOCTYPE html>
<html ng-app="testApp">
<body ng-controller="mainCtrl as ctrl">
    <h1>{{ctrl.message}}<span ng-bind="ctrl.name"></span></h1>
    <p>
        <input type="text" ng-model="ctrl.name" placeholder="Please enter your name" />
    </p>
    
    <div ng-repeat="note in ctrl.notes">
        <span class="label" ng-cloak> {{note.label}}</span>
        <span class="status" ng-bind="note.done"></span>
    </div>
    
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>