<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="container">
    <h1>{{imperial.name}}</h1>

    <tabset>
      <tab heading="Length">
        <div class="well well-sm">
              <div class="row">
                  <div class="col-md-4">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Value</th><th>Unit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control form-control-sm text-right" id="inputValue" ng-model="imperial.inputValue" placeholder=""></td>
                        <td>
                          <select id="inputUnit" class="form-control form-control-sm" ng-model="imperial.inputUnit">
                            <option value="inches">Inches</option>
                            <option value="feet">Feet</option>
                            <option value="yards">Yards</option>
                            <option value="chains">Chains</option>
                            <option value="furlongs">Furlongs</option>
                            <option value="miles">Miles</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('inches') | number }}</td>
                        <td>Inches</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('feet') | number }}</td>
                        <td>Feet</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('yards') | number }}</td>
                        <td>Yards</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('meters') | number }}</td>
                        <td>Meters</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('chains') | number }}</td>
                        <td>Chains</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('furlongs') | number }}</td>
                        <td>Furlongs</td>
                      </tr>
                      <tr>
                        <td class="text-right">{{imperial.convert('miles') | number}}</td>
                        <td>Miles</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <div class="col-md-8">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Reference</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>


                          </tr>
                        </tbody>
                      </table>
                  </div>
             </div>
          </div>
      </tab>
      <tab heading="Area"></tab>
      <tab heading="Volume"></tab>
      <tab heading="Weight"></tab>
      <tab heading="Other"></tab>
    </tabset>

</div>
