<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">User Directory</a>
    </div>
    <center>
      <div class="navbar-collapse collapse" id="navbar-main" ng-controller="NavigationCtrl">
        <ul class="nav navbar-nav">
          <li ng-class="{active: getClass('/')}"><a href="#/">{{"views.menu.home" | translate}}</a></li>
          <li ng-show="isPowerUser()" ng-class="{active: getClass('/user/create')}"><a ng-href="#/user/create">New User</a></li>
          <li ng-show="isUser()" ng-class="{active: getClass('/user/list')}"><a ng-href="#/user/list">List Users</a></li>
          <li ng-class="{active: getClass('/about')}"><a ng-href="#/about">{{"views.menu.about" | translate}}</a></li>
          <li ng-show="isUserLoggedIn()" class="nav navbar-text">{{getUserFullName()}} ({{getUserLevelName()}})</li>
          <li ng-hide="isUserLoggedIn()" ng-class="{active: getClass('/login')}"><a ng-href="#/login">{{"views.menu.login" | translate}}</a></li>
          <li ng-show="isUserLoggedIn()" ng-class="{active: getClass('/logout')}"><a ng-href="#/logout" ng-click="logout()">Log out</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <span ng-translate-language-select></span>
          </div>
        </form>
      </div>
    </center>
  </div>
</div>
