<div class="form-area" ng-show="editing == false">   
    <form role="form">        
        <h3 style="margin-bottom: 25px; text-align: center;">Edit User</h3>
        <div class="form-group">
            Login: {{user.login}}
        </div>
        <div class="form-group">            
            Password: {{user.passwd}}
        </div>
        <div class="form-group">            
            First name: {{user.firstName}}
        </div>
        <div class="form-group">
            Last name: {{user.lastName}}
        </div>
        <div class="form-group">
            Level: {{user.levelName}}
        </div>        
        <button type="button" id="edit" name="edit" class="btn btn-primary" ng-show="userlevel > 0 && userlevel >= user.level" ng-click="toggleEdit()">Edit user</button>
        <a type="button" href="#/user/list" class="btn btn-primary">Back</a>
    </form>
</div>

<div class="form-area" ng-show="editing == true && userlevel > 0 && userlevel >= user.level">   
    <form role="form">        
        <h3 style="margin-bottom: 25px; text-align: center;">Edit User</h3>
        <div class="form-group">
            <input type="text" class="form-control" id="login" name="login" ng-model="user.login" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password" ng-model="user.passwd" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="firstname" name="firstname" ng-model="user.firstName" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastname" name="lastname" ng-model="user.lastName" required>
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <select id="level" name="level" ng-model="user.level" convert-to-number>
                <option ng-show="userlevel >= lvl.level" ng-selected="lvl.level == user.level" value="{{lvl.level}}" ng-repeat="lvl in levels">{{lvl.name}}</option>              
            </select> <em>User cannot assign level higher than his own</em>
        </div>        
        <button type="button" id="save" name="save" class="btn btn-primary" ng-click="saveUser()">Save user</button>             
        <button type="button" ng-show="userlevel > 10 && userlevel >= user.level" id="delete" name="delete" class="btn btn-primary" ng-click="deleteUser(user.id)">Delete user</button>
        <button type="button" id="view" name="view" class="btn btn-primary" ng-show="userlevel > 0 && userlevel >= user.level" ng-click="toggleEdit()">Cancel</button>
        <a type="button" href="#/user/list" class="btn btn-primary">Back</a>
    </form>
</div>

